# For matlab non-script/function files.
*.mat
*.fig
*.asv

# For MS Office files
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx

# For special folders.
DATA*/
doc*/
BAK*/
R*/
etc/
tmp/
_*/
.vs/

# For miscellaneous TEXT files.
*~
*.bak
*.bak2
*.log
*.pmd

# For miscellaneous BINARY files.
*.jpg
*.png
*.tif
*.pdf
*.rar
*.zip
*.lnk
*.feather

# R project special
.Rproj.user
.Rhistory
*.Rproj
.RData

# other temporary scripts
xls2config.m
xls2config.R
config2xls.m
